a:hover{color:green;}
.box{display:flex;
  flex-direction: column;
background-color:red;}
.main{display:flex;
  flex: auto;
background-color:green;}
.aside{
  flex:1;
background-color:yellow;}
.article{
  flex:3;
background-color:blue;}
