a:hover{color:green;}
body{display:flex;
  flex-direction:column;
  background-color:red;
}
main{display:flex;
  flex:auto;
   background-color:blue;

}
aside{
  flex:1;

}
article{
  flex:3;  
}
aticle,aside{
  background-image:url("https://www.ign.com.cn/sm/t/ign_cn/cover/s/sid-meiers/sid-meiers-civilization-vi_cxhx.1024.jpg")
}
